<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.4/socket.io.js" integrity="sha512-dDCXSKyPaEikucluA6BrNqHngOGByBEhxwwlP+GvVt90XOe0BpmZEdnIJi849R2q9rG23Yzxhiy4uKCdnrJySw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/4.0.0/jquery.min.js" integrity="sha512-YuCuk5nNmVIUfKROKeV3fpZZ5Vt9vsnq8nExr5JwEJc2r1YDVmDfujcq373eHIzjqdxwCzoKpxngIaAdRUyg3A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io("localhost:5000")
            socket.on("connect", function() {
                console.log("conectou");
            });

            socket.on("message", function(data) {
                console.log("enviou mensagem");
                $("#lista_mensagens").append($('<p>').text(data));
            });

            $("#botao").on('click', function() {
                console.log("clicou botao");
                socket.send($('#usuario').val() + ": " + $('#mensagem').val());
                $('#mensagem').val('');
            });
        })
    </script>

    <div id="lista_mensagens">

    </div>
    <input type="text" id="usuario" placeholder="Usuario" required>
    <input type="text" id="mensagem" placeholder="Mensagem" required>
    <button id="botao">Enviar</button>

</body>
</html>